:host {
    display: flex;
    min-height: 100%;
    flex-direction: column;
}

mat-card > mat-card-header > div.mat-card-header-text {
    flex: 1;
}

.container {

    &-card {
        flex: 1;
        padding: 10px;
        display: flex;
        flex-direction: column;
    
        &-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        &-content {
            flex: 1;
        }
    }

    &-menu {
        display: flex;
        flex-direction: column;
    }

    &-tabela-modular {
        width: 100%;
    }
}