<mat-card class="conftainer-card">
  <mat-card-header class="container-card-header">
    <mat-card-title>Tabela Modular</mat-card-title>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>settings</mat-icon>
    </button>

    <mat-menu #menu="matMenu" [overlapTrigger]="false" yPosition="below" style="display: flex; flex-direction: column">
      <mat-checkbox *ngFor="let coluna of (colunas$ | async); index as i"
        [checked]="coluna.ativa"
        (click)="selecionarColuna(coluna, i, $event)">
          {{ coluna.nome }}
      </mat-checkbox>
    </mat-menu>
  </mat-card-header>
  <mat-card-content>
    <table mat-table style="width: 100%" [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> nome </th>
        <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
      </ng-container>

      <ng-container matColumnDef="sobrenome">
        <th mat-header-cell *matHeaderCellDef> sobrenome </th>
        <td mat-cell *matCellDef="let element"> {{element.sobrenome}} </td>
      </ng-container>

      <ng-container matColumnDef="idade">
        <th mat-header-cell *matHeaderCellDef> idade </th>
        <td mat-cell *matCellDef="let element"> {{element.idade}} </td>
      </ng-container>

      <ng-container matColumnDef="cpf">
        <th mat-header-cell *matHeaderCellDef> cpf </th>
        <td mat-cell *matCellDef="let element"> {{element.cpf}} </td>
      </ng-container>

      <ng-container matColumnDef="rg">
        <th mat-header-cell *matHeaderCellDef> rg </th>
        <td mat-cell *matCellDef="let element"> {{element.rg}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="(colunasExibidas$ | async)"></tr>
      <tr mat-row *matRowDef="let row; columns: (colunasExibidas$ | async);"></tr>
    </table>

  </mat-card-content>
</mat-card>